* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fd951f;
  --bg-color: #130f0d;
  --text-color: #f0f0f5;
  --light-color: rgba(255, 255, 255, 0.04);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Karla', sans-serif;
  background-color: #130f0d;
  color: #f0f0f5;
}

header {
  background-color: var(--primary-color);
  height: 90px;
  text-align: center;
  line-height: 70px;
  box-shadow: 0 1px 2px #CCC;
}

/* FIELDSET */
fieldset {
  /* border: 0; */
}
fieldset.grupo .campo {
  float: left;
  margin-right: 1em;
}

label {
  font-size: 18px;
}

input, select, button {
  border-radius: 5px;
}

/*  */
.campo input {
  width: 100%;
  padding: 8px;
}
/* .sexo label {
  margin-bottom: 0.2em;
  /* display: block; */
} */

/* INPUT CHECKT */
#check {
  display: inline-block;
}
#check input {
  margin-left: 8px;
}

form {
  background: rgba(255, 255, 255, 0.03);

  width: 100%;
  max-width: 940px;

  margin: 82px auto;
  padding: 32px 64px;

  display: flex;
  flex-direction: column;
}

div.campo{
  margin-bottom: 24px;
  position: relative;
}




/* FOOTER */

footer {
  background-color: violet;
}