* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fd951f;
  --bg-color: #130f0d;
  --text-color: #f0f0f5;
  --light-color: rgba(255, 255, 255, 0.04);
}


body {
  font-family: 'Karla', sans-serif;
  background-image: linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71));
}

input.inputUser {
  margin-bottom: 30px;
  background: none;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  color: #fff;
  font-size: 15px;
  width: 100%;
  letter-spacing: 2px;
}

input.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput {
  top: -20px;
  color: dodgerblue;
}


legend {
  border: 1px solid dodgerblue;
  padding: 10px;
  text-align: center;
  background-color: dodgerblue;
  border-radius: 8px;
}

.labelInput {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: .5s;
}


.inputBox {
  position: relative;
}


/* BOX */
.box {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 15px;
  border-radius: 15px;
  width: 20%;
}

/* FOOTER */

footer {
  background-color: violet;
  position: relative;
  margin-bottom: 0;
}