<!DOCTYPE html>
<html lang="pt-br">
<head>
  <%- include('partials/head', {title1: 'LOGIN | MEMBROS'})%>
</head>
<body class="text-center">
  <form class="form-signin">
    <img class="mb-4" src="/public/images/bootstrap-5.svg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Área Restrita</h1>
    <div class="form-group">
      <label>Usuário</label>
      <input type="text" class="form-control" placeholder="Digite o usuario">
    </div>
    <div class="form-group">
      <label>Senha</label>
      <input type="password" class="form-control" placeholder="Digite a senha">
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Acessar</button>
    <p class="text-center"><a href="#">Esqueceu a senha?</a> </p>
  </form>
  
</body>
</html>