<meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200;400;600;700&display=swap" rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" href="/public/css/dashboard.css">
  <link rel="stylesheet" href="/public/css/login.css">

  <!-- BOOSTRAP -->
  <link href="/public/css/bootstrap.min.css" rel="stylesheet">

  <!-- ICONES -->
  <script src="https://kit.fontawesome.com/7cd769184a.js" crossorigin="anonymous"></script>

  <title><%= title1 %> </title>