@keyframes hidemessage {
  to {
    top: -50px;
    opacity: 0;
  }
}



.messages.success {
  color: aqua;
  background-color: rgb(122, 182, 30);
}

.messages.error {
  color: aqua;
  background: #e74c3c;
}